In [49]:
1+2

3

In [50]:
3-1

2

In [51]:
2*2

4

In [52]:
10/2

5.0

In [53]:
10//2

5

In [54]:
10%2

0

In [55]:
10**3

1000

In [56]:
10 * 'abhishek'

'abhishekabhishekabhishekabhishekabhishekabhishekabhishekabhishekabhishekabhishek'

In [57]:
#Check Data Types
type(1)

int

In [58]:
type('Abhishek')

str

In [59]:
type(5.0)

float

In [60]:
type(True)

bool

In [61]:
type(False)

bool

# Strings

In [62]:
"Amit"

'Amit'

In [63]:
'Abhishek Upadhayay'

'Abhishek Upadhayay'

In [64]:
type('Abhishek Upadhayay')

str

## Variable Assigment

In [65]:
#Syntax
#var_name = values

a = 5

In [66]:
type(a)

int

In [67]:
 A = "Abhishek Upadhayay"

In [68]:
type(A)

str

In [69]:
##Mathematical operation with variable assigment
a = 50
b = 100

In [70]:
print(a+b)
print(b-a)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print((a*b)+(a/b))

150
50
5000
0.5
0
50
5000.5

In [71]:
# various ways of printing 
print("Amit")

Amit

In [72]:
first_name = "Abhishek"
last_name = "Upadhayay"

In [73]:
print("My first name is {} and last name is {}.".format(first_name,last_name))

My first name is Abhishek and last name is Upadhayay.

In [74]:
print("My first name is {first} and last name is {last}.".format(first = first_name,last=last_name))

My first name is Abhishek and last name is Upadhayay.

In [75]:
len("Abhishek")

8

In [76]:
type((3,2,4))

tuple

In [77]:
type([1,2,5,'h'])

list

# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

# Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [78]:
print(True,False)

True False

In [79]:
type(True)

bool

In [80]:
type(False)

bool

In [81]:
my_str = "AbhishekUpadhayay786"

In [82]:
my_str.istitle()

False

In [83]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('y')) #test if string endswith y
print(my_str.startswith('A')) #test if string startswith A

True
False
False
False
False
False
False
False
True

## Boolean and Logical Operators

In [84]:
True and True

True

In [85]:
True and False

False

In [86]:
True or False

True

In [87]:
True or True

True

In [88]:
False or False

False

## Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [89]:
type([])

list

In [90]:
lst_example=[]

In [91]:
type(lst_example)

list

In [92]:
lst=list()

In [93]:
type(lst)

list

In [94]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [95]:
len(lst)

6

In [96]:
type(lst)

list

In [97]:
str_example='Hello World'
my_str='Abhishek'

In [98]:
my_str.isalpha() or str_example.isnum()

True

## Append

In [99]:
#.append is used to add elements in the list
lst.append("Abhishek")

In [100]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Abhishek']

In [101]:
lst.append(["John","Bala"])

In [102]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Abhishek', ['John', 'Bala']]

In [103]:
##Indexing in List
lst[6]

'Abhishek'

In [104]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

## Insert

In [105]:
## insert in a specific order

lst.insert(2,"Upadhayay")

In [106]:
lst

['Mathematics',
 'chemistry',
 'Upadhayay',
 100,
 200,
 300,
 204,
 'Abhishek',
 ['John', 'Bala']]

In [107]:
lst.append(["Hello","World"])

In [108]:
lst

['Mathematics',
 'chemistry',
 'Upadhayay',
 100,
 200,
 300,
 204,
 'Abhishek',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [109]:
lst=[1,2,3]

In [110]:
lst.append([4,5])

In [111]:
lst

[1, 2, 3, [4, 5]]

## Extend Method

In [112]:
lst=[1,2,3,4,5,6]

In [113]:
lst.extend([8,9])

In [114]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [115]:
lst=[1,2,3,4,5]

In [116]:
sum(lst)

15

In [117]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [118]:
lst.pop()

5

In [119]:
lst

[1, 2, 3, 4]

In [120]:
lst.pop(0)

1

In [121]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [122]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [123]:
#length:Calculates total length of List
len(lst)

6

In [124]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [125]:
##Min and Max
min(lst)

1

In [126]:
max(lst)

5