## SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [2]:
## Defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var = {1,2,3,4,3}

In [5]:
set_var #Duplicating not allowed

{1, 2, 3, 4}

In [6]:
set_var = {"Ironman","Avengers","Hitman"}
print(set_var)
type(set_var)

{'Ironman', 'Avengers', 'Hitman'}

set

In [7]:
#Inbuilt function in set
set_var.add("Hulk")
print(set_var)

{'Hulk', 'Ironman', 'Avengers', 'Hitman'}

In [21]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [14]:
set2.intersection_update(set1)

In [15]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [22]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [23]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [24]:
## Difference update

set2.difference_update(set1)

In [25]:
print(set2)

{'Hulk2'}

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [26]:
dic = {}

In [27]:
type(dic)

dict

In [28]:
dic = {1,2,3,4.5,5,6}

In [29]:
type(dic)

set

In [35]:
# Let's create a dictionary
My_dict = {"car1":"Audi", "car2":"McLaren","car3":"Mercedes Benz"}

In [36]:
print(My_dict)
print(type(My_dict))

{'car1': 'Audi', 'car2': 'McLaren', 'car3': 'Mercedes Benz'}
<class 'dict'>

In [37]:
# Access the item values based on keys
My_dict["car1"]

'Audi'

In [38]:
My_dict['car3']

'Mercedes Benz'

In [42]:
# We can loop through the dictionaries keys

for x in My_dict:
    print(x)

car1
car2
car3

In [43]:
# We can also check both keys and values
for x in My_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'McLaren')
('car3', 'Mercedes Benz')

In [44]:
# We can even loop through the values
for x in My_dict.values():
    print(x)

Audi
McLaren
Mercedes Benz

In [46]:
# we can loop through the dictionaries keys
for x in My_dict:
    print(x)

car1
car2
car3

In [47]:
# Adding items in dictionaries
My_dict['car4'] = 'BMW'

In [48]:
My_dict

{'car1': 'Audi', 'car2': 'McLaren', 'car3': 'Mercedes Benz', 'car4': 'BMW'}

## Nested Dictionary

In [49]:
car1_model = {'Mercedes':1960}
car2_model = {'McLaren':1970}
car3_model = {'Audi':1980}
car4_model = {'BMW':1990}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model,'car4':car4_model}

In [50]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'McLaren': 1970}, 'car3': {'Audi': 1980}, 'car4': {'BMW': 1990}}

In [51]:
# Accessing the elements of dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [52]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [53]:
## Create an empty tuple
tup = ()

In [54]:
print(tup)
print(type(tup))

()
<class 'tuple'>

In [55]:
my_tuple = tuple()

In [56]:
type(my_tuple)

tuple

In [57]:
my_tuple = ("Sohail","Aquib","Giri","Sahil","Neeraj")

In [58]:
my_tuple

('Sohail', 'Aquib', 'Giri', 'Sahil', 'Neeraj')

In [59]:
my_tuple[0]

'Sohail'

In [60]:
print(my_tuple)
print(type(my_tuple))

('Sohail', 'Aquib', 'Giri', 'Sahil', 'Neeraj')
<class 'tuple'>

In [61]:
#Inbuilt Function in tuple
my_tuple.count("Sohail")

1

In [62]:
my_tuple.index('Giri')

2